*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: 'EB Garamond', serif;
  line-height: 1.6;
  font-size: 17px;
  color: #C70039;
}

#show{
  background-image: url(img/long-tailed-tit-japan.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content; center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#show h1{
  font-size: 50px;
  line-height: 1.2;
  padding-top: 250px;
}

#show p{
  font-size: 20px;
}

#show .button{
  font-size: 18px;
  text-decoration: none;
  color: #C70039;
  border: #C70039 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#show .button:hover{
  background-color: #C70039;
  color: #FFFFFF;

}

#section-a{
  padding:20px;
  background: #C70039;
  color: #FFFFFF;
  text-align: center;
}

#section-b{
  padding:20px;
  background: #F4F4F4;
  text-align: center;
}

#section-c div{
  padding: 20px;
}
#section-c{
  display: flex;
}

#section-c .box-1, #section-c .box-3{
  background: #C70039;
  color: #FFFFFF;
}

#section-c .box-2{
  background-color: #F9F9F9;
}
